/*Global Stlyes*/
a{
  text-decoration: none;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*This is the navigation bar style formatting, should be same for each page*/
ul {
  list-style-type: none;
  position: sticky;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: lightgrey;
  }
 /*This is the font styling for h1 titles*/
 .main-headers{
    text-shadow: -8px 4px 6px  lightcoral;
    font-style: italic;
    text-align: center;
    font-size: 25px;
 }
 body{
  text-align: center;
    background-color: rgb(244, 198, 207);
}
label{
  display: block;
}
.input-wrapper{
  margin: 13px 0 ;
}
footer{
  height: 250px;
  background-color: salmon;

}
.md-space {
  /*   padding-left: 32px;
    padding-right: 32px;
    padding-top: 22px;
    padding-bottom: 22px; */
  /*  2 value combo shorthand  */
    padding: 22px 32px;
  }
  img {
    width: 300px;
  /*   padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 0; */
    padding:  10px 14px 0 0;
    -webkit-box-shadow: -10px 8px 12px -4px rgba(0,0,0,0.74); 
  box-shadow: -10px 8px 12px -4px rgba(0,0,0,0.74);
  }
